body {
    margin: 0;
}

section:not(:first-child) {
    padding: 50px 5px;
}

.content {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

h1, h2, h3, h4, nav li, #works li {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-align: center;
}

h3, h4 {
    margin: 0.5em 0;
}

p, label, input, a {
    font-family: 'Raleway', sans-serif;
    margin: 0.5em 0;
    font-size: 1em;
}



/* NAVIGATION */

header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -40px 100px 10px #656565;
    z-index: 2000;
}

header img {
    display: block;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    display: block;
    padding: 5px 10px;
    list-style-type: none;
}

nav ul li:last-child {
    border: 2px solid black;
    margin-left: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* HERO */

#hero_area {
    display: flex;
    height: 450px;
    width: calc(100% - 10px);
    background: url("/public/img/background.png") no-repeat right bottom;
    background-size: cover;
    padding: 0 5px;
}

#hero_text_area {
    height: 100%;
    display: flex;
    align-items: center;
}

#hero_text {
    margin-top: 80px;
    max-width: 800px;
}

#hero_text_area h1 {
    font-size: 2.5em;
}

#hero_text_area p {
    font-size: 1.5em;
}

/* SEPARATOR */

.separator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.separator * {
    position: absolute;
    background-color: lightgrey;
    border-radius: 2px;
}

.thin_separator {
    width: 160px;
    height: 4px;
}

.thick_separator {
    width: 90px;
    height: 8px;
}

/* ABOUT */

#download_resume {
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

#download_resume:hover {
    color: white;
    background-color: black;
}

#perso_skills, #personal_path {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#perso_skills > *, #personal_path > * {
    width: 48%;
}

.skill_block {
    display: flex;
}

.skill_bar {
    display: flex;
    width: calc(100% - 120px);
}

.skill_name {
    border-bottom: 5px solid black;
    width: 120px;
}

.skill_name p {
    margin-bottom: 0.4em;
}

.skill_level {
    border-bottom: 5px solid black;
}

.skill_rest {
    border-bottom: 5px solid lightgrey;
}

.experience_block {
    display: flex;
    margin-top: 20px;
}

.experience_block .context {
    width: 150px;
    min-width: 150px;
}

/* EXPERTISE */

#expertise {
    background: url("/public/img/expertise_bg.png") no-repeat right bottom;
    background-size: cover;
    color: white;
}

#expertise_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.expertise_module {
    width: 30%;
    display: flex;
}

.expertise_picture {
    margin-top: 0.8em;
}

.expertise_picture i {
    font-size: 2.5em;
    margin-right: 30px;
}

/* WORKS */

#work_selector {
    width: fit-content;
    margin: auto;
}

#works ul {
    display: flex;
    padding-left: 0;
}

#works ul li {
    display: block;
    padding: 5px 10px;
    list-style-type: none;
    border: 2px solid black;
    margin-left: 5px;
    cursor: pointer;
}

.current {
    background-color: black;
    color: white;
}

#works_block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#works_block > * {
    margin-bottom: 20px;
}

.work_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    text-decoration: none;
}

.work_icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition-duration: 0.2s;
}

.work_icon:hover {
    opacity: 1;
}

.work_icon > * {
    text-align: center;
}

/* QUOTES */

#quotes {
    padding: 80px 5px;
    background: url("/public/img/quote_background.jpg") no-repeat right center;
    background-size: cover;
    color: white;
}

#quotes .content {
    width: 600px;
}

#quote_text {
    text-align: center;
    font-size: 1.5em;
}

#quote_author {
    text-align: right;
    font-style: italic;
}

/* CONTACT */

#contact {
    display: flex;
    line-height: 2em;
}

#contact_list {
    margin-bottom: 30px;
}

#contact_list p {
    margin-bottom: 15px;
}

#contact_list i {
    color: dimgrey;
    margin-right: 5px;
    font-size: 2em;
    width: 50px;
    vertical-align: middle;
}

#contact > * {
    width: 50%;
    padding: 40px 20px;
}

#language_list {
    display: flex;
    width: 100%;
}

.language_sample {
    padding: 0 20px;
    border-right: 2px solid dimgrey;
}

.language_sample:last-child {
    padding-right: 0 ;
    border-right-width: 0px;
}

#contact_form > * {
    display: block;
    width: calc(100% - 12px);
    margin-bottom: 20px;
}

#basic_contact_data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#basic_contact_data > * {
    width: 45%;
}

#contact_form input {
    height: 2em;
    padding: 1px 5px;
    font-size: 1em;
    border: 1px solid grey;
}

#contact_form textarea {
    padding: 5px;
    font-size: 1em;
    border: 1px solid grey;
    width: calc(100% - 12px);
}

#contact_form input[type=submit] {
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 3px solid black;
    font-weight: bold;
}

#contact_form input[type=submit]:hover {
    color: white;
    background-color: black;
}

/* MAP */

#map {
    width: 100%;
    height: 400px;
}

/* CREDITS */

#credits {
    background-color: dimgrey;
    text-align: center;
}

#credits img {
    height: 80px;
}

#credits p {
    color: white;
}

/* LOGIN */

#loginlink {
    cursor: pointer;
}

.popup_button {
    background-color: white;
    color: dimgray;
    padding: 2px 5px;
    font-family: 'Raleway', sans-serif;
}

.popup_box {
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 999;
}

.popup_window {
    background-color: whitesmoke;
    padding: 20px 30px;
}

#loginwindow input[type=submit] {
    color: dimgrey;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 1.2em;
    border: 2px solid dimgrey;
    font-weight: bold;
}

#loginwindow input[type=submit]:hover {
    color: white;
    background-color: dimgrey;
}

/* CONFIRMATION MODAL */

@keyframes disappear {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100%  {opacity: 0;}
}

#confirmationmodalcontainer {
    display: block;
    margin: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 15px 30px;
    animation-name: disappear;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 2999;
}